 <html>

  <head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel= "stylesheet" type="text/css" href="list.css">
    <link rel= "stylesheet" type="text/css" href="main.css">
    <title>The Squashcie</title>
  </head>

  <body>
    <div id="Page1" class="bg">
        <div class="container">
        	<span><h3>Intermate Squash Competition</h3></span>
            <br />

            <div class="row">
              <div class="col-sm-2">
                <div class="menu">
                  <span><nav class="nav-sidebar">
                      <ul class="nav">
                          <li><a href="javascript:;">Sign in</a></li>
                          <li class="nav-divider"></li>
                          <li><a href="javascript:;">Home</a></li>
                          <li class="active"><a href="javascript:;">Matches</a></li>
                          <div id="" class="sub-menu" style="display:none">

                          </div>
                          <li><a href="javascript:;">Ranking</a></li>
                          <li><a href="https://venusp.tue.nl/sci-cgi/index.opl" target="_blank">SSCE</a></li>
                          <li class="nav-divider"></li>
                          <li><a href="javascript:;">Application</a></li>
                          <li class="nav-divider"></li>
                      </ul>
                  </nav></span>
                </div>
              </div>
                <div class="col-sm-10">
                     {% for pool in all_poules %}
                        <div class="panel panel-default">
                          <div class="panel-heading panel-heading-custom">
                            <div class="header">
                                <a data-toggle="collapse" href="#collapse1">
                                    <span id="gettingStarted">
                                        {{pool.poolname}}
                                    </span>
                                    <a data-toggle="collapse" class="pull-right minus" href="#collapse1">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </a>
                                </a>
                            </div>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                              <ul>
                                {% for player in pool.player_set.all %}
                                <li>player_name</li>
                                {% endfor % }
                              </ul>
                              <button onclick="resultButton()">Fill in result</button>
                              <div id="fillScore">
                                <input type="number" name="Set 1: Player 1" min="0" max="30">
                                <input type="submit"><br>
                                <input type="number" name="Set 1: Player 2" min="0" max="30">
                                <input type="submit"><br>
                                <input type="number" name="Set 2: Player 1" min="0" max="30">
                                <input type="submit"><br>
                                <input type="number" name="Set 2: Player 2" min="0" max="30">
                                <input type="submit"><br>
                                <input type="number" name="Set 3: Player 1" min="0" max="30">
                                <input type="submit"><br>
                                <input type="number" name="Set 3: Player 2" min="0" max="30">
                                <input type="submit"><br>
                              </div>
                                <link><a href= "upcoming_matches.html">Upcoming Matches</a></link>
                                <link><a href= "results.html">Results</a></link>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
  </body>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="script.js"></script>
  <script src="fill_results.js"></script>
</html>
